{% extends "../app_layout.html" %}

{% load static %}

{% block scripts %}
    <script type="module" src='{% static "js/render_functions.js" %}' defer></script>
    <script type="module" src='{% static "js/online-tables.js" %}' defer></script>
{% endblock %}

{% block navbarbuttons %}

<li class="nav-item">
    <a href="#" id="displayButton" class="nav-link">
        <i class=" my-1 fas fa-table text-3xl sm:text-5xl text-yellow-300"></i>
        <span class="link-text text-yellow-300">Display</span>
    </a>
</li>

<li class="nav-item">
    <a href="#" id="addButton" class="nav-link">
        <i class=" my-1 fas fa-plus text-3xl sm:text-5xl text-yellow-300"></i>
        <span class="link-text text-yellow-300">Add</span>
    </a>
</li>

{% if logged %}
        <li class="nav-item">
        <a href="/logout" class="nav-link">
            <i class=" my-1 fas fa-sign-out-alt text-3xl sm:text-5xl text-yellow-300"></i>
            <span class="link-text text-yellow-300">Logout</span>
        </a>
    </li>
{% else %}
    <li class="nav-item">
        <a href="/login" class="nav-link">
            <i class=" my-1 fas fa-sign-in-alt text-3xl sm:text-5xl text-yellow-300"></i>
            <span class="link-text text-yellow-300">Login</span>
        </a>
    </li>
{% endif %}

{% endblock %}

{% block info %}
    <div class="xl:w-3/4 xl:h-full">
        <div class="header-two-part-animation">
            <p class="mt-10 ml-10 font-bold text-2xl text-yellow-300">Welcome!</p>
            <p class="mt-5 ml-10 font-bold blueMain">Nice to see you again, <span class="redMain text-lg">{{ userLogin }}!</span></p>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="mt-10 w-full flex flex-col items-center h-full">
            <p class="w-full text-center specialtext font-black text-4xl mb-5"><mark class="redMain">Tab</mark><mark class="blueMain">Les</mark></p>
            <div id="tablesContainer" class="flex flex-col gap-4 items-center overflow-auto cardBoxWidth w-9/10 lg:w-4/6 h-5/6 toDoScroller">

                

                
                
                
            </div>
        </div>
{% endblock %}