{% extends "../app_layout.html" %}

{% load static %}

{% block scripts %}
    <script type="module" src='{% static "js/render_functions.js" %}' defer></script>
    <script type="module" src='{% static "js/offline_notes.js" %}' defer></script>
{% endblock %}

{% block navbarbuttons %}

<li class="nav-item">
    <a href="/offline/calendar" class="nav-link">
        <i class=" my-1 far fa-calendar-alt text-3xl sm:text-5xl text-yellow-300"></i>
        <span class="link-text text-yellow-300">Calendar</span>
    </a>
</li>

<li class="nav-item">
    <a id="displayButton" class="nav-link">
        <i class=" my-1 fas fa-th-list text-3xl sm:text-5xl text-yellow-300"></i>
        <span class="link-text text-yellow-300">Display</span>
    </a>
</li>

<li class="nav-item">
    <a id="addButton" class="nav-link">
        <i class=" my-1 fas fa-plus text-3xl sm:text-5xl text-yellow-300"></i>
        <span class="link-text text-yellow-300">Add</span>
    </a>
</li>

<li class="nav-item">
    <a href="/login" class="nav-link">
        <i class=" my-1 fas fa-sign-in-alt text-3xl sm:text-5xl text-yellow-300"></i>
        <span class="link-text text-yellow-300">Login</span>
    </a>
</li>

{% endblock %}