<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuDuTul</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "css/tailwind_compiled.css" %}'
    />
    <link rel="stylesheet" type="text/css" href='{% static "fontawesome/css/all.css" %}'
    />
    

</head>
<body class="mx-auto h-screen mainBackground p-0 m-0">
    <script src="{% static 'js/account.js' %}"></script>
    <nav class="z-10 mx-auto bg-background bg-opacity-90 border-b-2 border-black m-0 pt-3 pb-3 md:pt-7 md:pb-7 block md:flex justify-around items-center ">

        <!--   left side -->
        <div class="flex justify-center">
            <a href="/" class="specialtext text-white font-black text-2xl md:text-5xl "><mark class="redMain">Tu</mark><mark class="blueMain">Du</mark>Tul</a>
        </div>

        <!--   right side -->
        {% block navbuttons %}
            {% if logged %}
                <div class="flex justify-content-end mt-2 text-sm md:text-md md:m-0">
                    <a class="inline-block p-2 text-indigo-100 hover:text-indigo-100 mx-2">You are logged in as: <mark class="redMain font-bold">{{userLogin}}</mark></a>
                    <a href="#" onclick="return sendLogout();" class="font-bold inline-block py-2 px-10 shadow-xl text-background bg-yellow-400 hover:bg-yellow-300 hover:text-yellow-800 rounded transition ease-in duration-150 mx-2">Logout</a>
                    <a href="app" class="inline-block p-2 text-indigo-100 hover:text-indigo-100 font-bold mx-2 hover:shadow-2xl">Use App</a>
                    <span class="flex h-3 w-3">
                        <span class="animate-ping relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span>
                    </span>
                </div>  
            {% else %}
                <div class="flex justify-center mt-2 text-sm md:text-md md:m-0">
                    <a href="/login" class="inline-block p-2 bg-indigo-200 hover:bg-indigo-100 text-background mx-2 font-bold rounded-md transition ease-in duration-300 shadow-2xl">Login</a>
                    <a href="/register" class="inline-block py-2 px-4 text-background bg-yellow-400 hover:bg-yellow-300 hover:text-yellow-800 font-bold rounded transition ease-in duration-300 mx-2 shadow-2xl">Sign Up</a>
                    <a href="/offline" class="inline-block p-2 text-indigo-100 hover:text-indigo-100 font-bold mx-2 hover:shadow-2xl">Use Offline</a>
                    <span class="flex h-3 w-3">
                        <span class="animate-ping relative inline-flex rounded-full h-3 w-3 bg-purple-500"></span>
                    </span>
                </div>
            {% endif%}
        {% endblock %}

    </nav>

    {% block main %}
    <div class="h-2/5">
        <div class="h-full flex flex-col justify-start  items-center mt-20 md:mt-15 font-black text-2xl sm:text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl text-white">
                <p class="header-two-part-animation z-10">Always know what you need</p> 
                <p class="header-two-part-animation z-10"><mark class="redMain">Tu</mark><mark class="blueMain">Du</mark>.</p>
        </div>
    </div>
    <div class="h-2/5">
        <div class="h-full flex flex-col justify-start  items-center font-black text-xl sm:text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl text-white">
                <p class="z-10"><span class="text-yellow-400">#1</span> ToDo app on IO lessons</p> 
        </div>
    </div>
    
    <section>
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
    </section>

    {% endblock %}
    </div>
</body>

</html>